.input-search {
  border: 1px solid $color-black;
  border-radius: 40px;
  $color-placeholder: rgba(30, 30, 30, 0.56);
  $font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  width: 476px;
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  height: max-content;
  input {
    flex: 1;
  }
  input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari/Edge */
    /*styles here*/
    color: $color-placeholder !important;
    font-size: $font-size;
    font-weight: 300;
  }

  input::-ms-input-placeholder {
    /* Microsoft Edge */
    /*styles here*/
    color: $color-placeholder !important;
    font-size: $font-size;
    font-weight: 300;
  }

  input:-ms-input-placeholder {
    /* IE 10+ */
    /*styles here*/
    color: $color-placeholder !important;
    font-size: $font-size;
    font-weight: 300;
  }
}
